In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.lamoda.ru/c/477/clothes-muzhskaya-odezhda/?sitelink=topmenuM&l=3&page=' + str(2)
url

'https://www.lamoda.ru/c/477/clothes-muzhskaya-odezhda/?sitelink=topmenuM&l=3&page=2'

In [ ]:
brands = []
for i in range(1, 50):
  url = 'https://www.lamoda.ru/c/477/clothes-muzhskaya-odezhda/?sitelink=topmenuM&l=3&brands=1061,25595,3693,30007,25579,4573,4035,24484,22318,3761,21410,19622,22350,1733,4869,28208,20395,31528,5809,5413,2037,1169,2691,25125,30542,2003,5178,30391,30372,32286,5584,4189,32063,27481,6642,843,25138,1841,4259,22293,30180,33334,5181,29607,29193,4301,26454,24417,471,4351,3713,4361,28349,18717,6364,6253,570,24966,26151,32138,5112,29870,31790,28848,24899,32752,893,31905,5816,6085,2047,29878,28318,27590,6410,31707,29922,32216,26905,26029,3801,32943,6180,27893,1107,1543,463,24797,31425,32907,3701,4860,32255,32488,29615,25733,30111,29969,22705,31526,18555,24713,28757,25889,31410,5815,891,573,26934,23837,31765,23783,4607,25571,33366,24798,4978,5119,29528,24207,27553,30356,26494,6183,6564,1787,31272,25442,26914,30726&page=' + str(i)
  page = requests.get(url)
  soup = BeautifulSoup(page.content, "html.parser")
  items = soup.find_all('div', class_='x-product-card__card')
  for item in items:
    brand = item.find('div', class_='x-product-card-description__brand-name').text
    if brand not in brands:
      brands.append(brand)
    else:
      continue

In [ ]:
len(brands)

85

In [ ]:
id = [i for i in range(1, 86)]

In [ ]:
brand = pd.DataFrame(
    {
        'id': id, 
        'name': brands
    },
    index = [i for i in range(1, 86)]
)

In [ ]:
brand.to_csv('brand.csv')