In [ ]:
import pandas as pd

In [ ]:
id = [i for i in range(1, 4)]

In [ ]:
name = [
    'Одежда', 'Обувь', 'Аксессуары'
]

In [ ]:
category = pd.DataFrame(
    {
        'id': id,
        'name': name
    },
    index =[1, 2, 3]
)

In [ ]:
category

   id        name
1   1      Одежда
2   2       Обувь
3   3  Аксессуары

In [ ]:
category.to_csv('category.csv')