In [ ]:
from faker import Faker
from russian_names import RussianNames
import pandas as pd

In [ ]:
fake = Faker('ru_RU')

id = [i for i in range(1, 151)]
name = [RussianNames().get_person().split(' ')[0] for _ in range(1, 151)]
patronymic = [RussianNames().get_person().split(' ')[1] for _ in range(1, 151)]
surname = [RussianNames().get_person().split(' ')[2] for _ in range(1, 151)]
phone_number = [fake.phone_number().replace(' ', '-') for _ in range(1, 151)]

In [ ]:
client = pd.DataFrame(
    {
        'id': id,
        'surname': surname,
        'name': name,
        'patronymic': patronymic,
        'number_phone': phone_number
    },
    index=[i for i in range(1, 151)],
)

In [ ]:
client

      id     surname       name  patronymic       number_phone
1      1    Оглоухов       Олег    Игоревич       +74007390262
2      2  Прасовский      Клара   Романович   8-(571)-454-1965
3      3     Потемин  Валентина  Богдановна    +7-264-176-4787
4      4     Петешев      Федор  Евгеньевна       +74657398705
5      5       Махов     Ксения    Егоровна   +7-045-399-75-42
..   ...         ...        ...         ...                ...
146  146     Горышев     Любовь  Викторович   +7-874-208-54-10
147  147      Окаева      Алиса  Василиевич  +7-(619)-894-8092
148  148  Голотынина       Илья   Романовна       +73820834746
149  149   Евграфьев    Герасим  Георгиевич     8-869-968-9456
150  150   Теравская      Елена   Вадимович        80842866062

[150 rows x 5 columns]

In [ ]:
client.to_csv('client.csv')

In [ ]:
fake.color_name()

'Темно-голубой'