In [ ]:
from faker import Faker
from russian_names import RussianNames
import pandas as pd
from datetime import datetime, timedelta
import random

In [ ]:
client_id = [i for i in range(1, 151)]

In [ ]:
id = [i for i in range(1, 151)]

In [ ]:
fake = Faker()

In [ ]:
date = [str(fake.date_object()) for _ in range(1, 151)]

In [ ]:
status_choice = ['OK', 'NOT OK']

In [ ]:
status = [random.choice(status_choice) for _ in range(1, 151)]

In [ ]:
payment = pd.DataFrame(
    {
        'id': id,
        'client_id': client_id,
        'date': date,
        'status': status
    },
    index=[i for i in range(1, 151)],
)

In [ ]:
payment

      id  client_id        date  status
1      1          1  2012-08-04  NOT OK
2      2          2  1993-10-08  NOT OK
3      3          3  1978-06-01      OK
4      4          4  1984-05-30  NOT OK
5      5          5  1996-11-07  NOT OK
..   ...        ...         ...     ...
146  146        146  2018-11-26  NOT OK
147  147        147  2006-08-13  NOT OK
148  148        148  1984-01-11  NOT OK
149  149        149  1976-07-15      OK
150  150        150  2010-06-30  NOT OK

[150 rows x 4 columns]

In [ ]:
payment.to_csv('payment.csv')