In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
from random import randint
from datetime import timedelta
import datetime

In [ ]:
id = [i for i in range(1, 101)]

In [ ]:
fake = Faker(locale="ru_RU")

address = [
    fake.address() for _ in range(1, 101)
]

In [ ]:
check = {
    address[i]: address.count(address[i]) for i in range(len(address))
}

for k, v in check.items():
  if v > 1:
    print(k)

In [ ]:
number_phone = [
    fake.phone_number() for _ in range(1, 101)
]

In [ ]:
time_start = [
    fake.date_between(start_date='-3y', end_date='now') for _ in range(1, 101)
]

In [ ]:
time_end = [
    time_start[i] + timedelta(randint(1, 10)) for i in range(len(time_start))
]

In [ ]:
len(id)

100

In [ ]:
days = timedelta(randint(1, 10))
day = fake.date_between(start_date='-3y', end_date='now')
print(day)
print(day + days)

2022-12-06
2022-12-11

In [ ]:
pickup_point = pd.DataFrame(
    {
        'id': id,
        'address': address,
        'number_phone': number_phone,
        'time_start': list(map(str, time_start)),
        'time_end': list(map(str, time_end))
    },
    index = [i for i in range(1, 101)]
)

In [ ]:
pickup_point

,id,address,number_phone,time_start,time_end
1,1,"п. Улан-Удэ, бул. Клубный, д. 4/4, 041656",+7 020 723 6203,2020-11-14,2020-11-16
2,2,"д. Орел, алл. Зои Космодемьянской, д. 13 к. 8,...",+7 (803) 128-03-68,2022-02-08,2022-02-17
3,3,"д. Лянтор, алл. Широкая, д. 2/9 к. 6/3, 810335",8 (907) 864-07-27,2020-03-14,2020-03-21
4,4,"ст. Назрань, наб. Каштановая, д. 564, 410092",+7 (137) 056-1626,2021-06-29,2021-07-07
5,5,"д. Губаха, ш. Рязанское, д. 82 стр. 579, 513322",88642684816,2021-08-24,2021-08-30
...,...,...,...,...,...
96,96,"клх Кондопога, ул. Республиканская, д. 48 к. 9...",87391880900,2022-05-25,2022-05-31
97,97,"г. Ханты-Мансийск, бул. Глинки, д. 954, 052135",8 967 305 06 93,2020-02-08,2020-02-16
98,98,"д. Клин, алл. Крупской, д. 210 стр. 8, 675502",8 (919) 149-62-43,2021-08-28,2021-08-29
99,99,"д. Невьянск, пр. Володарского, д. 376, 773599",+7 268 350 2676,2021-04-17,2021-04-21
100,100,"ст. Урус-Мартан, алл. Родниковая, д. 86, 499107",+7 640 432 69 25,2022-06-08,2022-06-17

In [ ]:
pickup_point.to_csv('pickup_point.csv')