In [ ]:
import pandas as pd

In [ ]:
size = {
    '42-44': "XS",
    '44-46': "S",
    '46-48': 'M',
    '48-50': 'L',
    '50-52': 'XL',
    '52-54': 'XXL',
    '54-56': 'XXXL',
    '39': '6US',
    '40': '7US',
    '41': '8US',
    '42': '9US',
    '43': '10US',
    '44': '11US',
    '45': '12US',
    '46': '13US',
    '47': '17US',
    '48': '18US'
}

In [ ]:
id = [i for i in range(1, len(size) + 1) ]

In [ ]:
size.values()

dict_values(['XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', '6US', '7US', '8US', '9US', '10US', '11US', '12US', '13US', '17US', '18US'])

In [ ]:
id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [ ]:
df = pd.DataFrame(
    {
        'id': id,
        'eng_name': size.values(),
        'rus_name': size.keys()
    },
    index=[i for i in range(1, len(size) + 1)]
)

In [ ]:
df

    id eng_name rus_name
1    1       XS    42-44
2    2        S    44-46
3    3        M    46-48
4    4        L    48-50
5    5       XL    50-52
6    6      XXL    52-54
7    7     XXXL    54-56
8    8      6US       39
9    9      7US       40
10  10      8US       41
11  11      9US       42
12  12     10US       43
13  13     11US       44
14  14     12US       45
15  15     13US       46
16  16     17US       47
17  17     18US       48

In [ ]:
df.to_csv('size.csv')